### 1 . To define a TF function [문서 내의 단어들의 출현 빈도(TF)를 세는 함수 정의]

In [1]:
import pandas as pd

def get_term_frequency(document, word_dict=None): 
  if word_dict is None:
      word_dict = {} 
  words = document.split()

  for w in words:
      word_dict[w] = 1 + (0 if word_dict.get(w) is None else word_dict[w])

  return pd.Series(word_dict).sort_values (ascending=False)

### 2 . To define a DF function [단어가 출현한 문서 개수(DF)를 세는 함수 정의]

In [2]:
def get_document_frequency(documents):
    dicts = []
    vocab = set([]) 
    df = {}

    for d in documents:
        tf = get_term_frequency(d) 
        dicts += [tf] 
        vocab = vocab | set(tf.keys())

    for v in list(vocab):
        df[v] = 0 
        for dict_d in dicts: 
            if dict_d.get(v) is not None:
                df[v] += 1

    return pd. Series(df).sort_values(ascending=False)

### 3 . To read texts(songs) [문서(노래) 불러오기]

이영훈 시인의 노래 6곡 가사(이문세의 노래)를 대상으로 함.

In [ ]:
f= open("/content/가로수 그늘 아래 서면.txt", 'r')
doc1 = f.read()
f= open("/content/광화문 연가.txt", 'r')
doc2 = f.read()
f= open("/content/기억이란 사랑보다.txt", 'r')
doc3 = f.read()
f= open("/content/붉은 노을.txt", 'r')
doc4 = f.read()
f= open("/content/시를 위한 시.txt", 'r')
doc5 = f.read()
f= open("/content/옛사랑.txt", 'r')
doc6 = f.read()
f.close()

### 4 . To make tf-idf function [TF-IDF함수 만들기]

In [ ]:
def get_tfidf(docs):
    vocab = {} 
    tfs = [] 
    for d in docs:
        vocab = get_term_frequency(d, vocab)
        tfs += [get_term_frequency(d)] 
    df = get_document_frequency(docs)

    from operator import itemgetter 
    import numpy as np

    stats = [] 
    for word, freq in vocab.items():
        tfidfs = [] 
        for idx in range(len(docs)):
            if tfs[idx].get(word) is not None:
                tfidfs += [tfs[idx][word] * np.log(len(docs) / df[word])] 
            else:
                tfidfs += [0]

        stats.append((word, freq, *tfidfs, max(tfidfs)))

    return pd.DataFrame(stats, columns=('word',
                                        'frequency', 
                                        'doc1', 
                                        'doc2', 
                                        'doc3',
                                        'doc4',  
                                        'doc5',
                                        'doc6',
                                        'max')).sort_values('max', ascending=False)

### 5 . To convert to a DataFrame and check its form [데이터프레임으로 변환, 형태 확인]

In [ ]:
df=pd.DataFrame(get_tfidf([doc1, doc2, doc3, doc4, doc5, doc6]))
df.shape

(291, 9)

In [ ]:
df.head(10)

    word  frequency       doc1  doc2  doc3      doc4  doc5  doc6        max
12   가로수          6  10.750557   0.0   0.0  0.000000   0.0   0.0  10.750557
9     우~          6  10.750557   0.0   0.0  0.000000   0.0   0.0  10.750557
29   노을만          5   0.000000   0.0   0.0  8.958797   0.0   0.0   8.958797
17   타는데          5   0.000000   0.0   0.0  8.958797   0.0   0.0   8.958797
19    대답          5   0.000000   0.0   0.0  8.958797   0.0   0.0   8.958797
20   소리쳐          5   0.000000   0.0   0.0  8.958797   0.0   0.0   8.958797
21  부르지만          5   0.000000   0.0   0.0  8.958797   0.0   0.0   8.958797
22    너를          5   0.000000   0.0   0.0  8.958797   0.0   0.0   8.958797
24  사랑하네          5   0.000000   0.0   0.0  8.958797   0.0   0.0   8.958797
25    붉게          5   0.000000   0.0   0.0  8.958797   0.0   0.0   8.958797

In [ ]:
df.tail(10)

     word  frequency      doc1  doc2  ...      doc4      doc5      doc6       max
212  거짓인가          1  0.000000   0.0  ...  0.000000  0.000000  1.791759  1.791759
211   지겨울          1  0.000000   0.0  ...  0.000000  0.000000  1.791759  1.791759
210   하는데          1  1.791759   0.0  ...  0.000000  0.000000  0.000000  1.791759
209    위에          1  0.000000   0.0  ...  0.000000  0.000000  1.791759  1.791759
208    잎새          1  0.000000   0.0  ...  0.000000  0.000000  1.791759  1.791759
207   푸르른          1  0.000000   0.0  ...  0.000000  0.000000  1.791759  1.791759
206    봄날          1  0.000000   0.0  ...  0.000000  0.000000  1.791759  1.791759
205    녹은          1  0.000000   0.0  ...  0.000000  0.000000  1.791759  1.791759
204  흘러넘쳐          1  0.000000   0.0  ...  0.000000  0.000000  1.791759  1.791759
0      그대         15  0.364643   0.0  ...  0.729286  0.546965  0.546965  0.729286

[10 rows x 9 columns]